#composer {
  width: 680px;

  .parts {
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    padding: 0;
    margin: 10px;

    tr.keyline td {
      &.current {
        background-color: #ccffcc44;
      }
      input[type="checkbox"]:checked + label {
        &:before {
          padding-left: 0.25em;
          content: "\f8cf";
        }
      }
    }

    tr.timeline {
      th label:before {
        content: "\f017";
      }
      td.current {
        background-color: #ccccff66;

        input[type="radio"]:checked + label {
          &:before {
            padding-left: 0.25em;
            content: "\f0d8";
          }
        }
      }
    }
  }

  .downloadLnk {
    display: none;
  }

  .downloadBtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
