.settings {
  display: inline-block;
  margin: 0.5rem;
  padding: 0 1rem 0.5rem;
  border: 4px dotted white;

  legend {
    padding: 8px;
  }

  label {
    display: inline;
  }

  div {
    input {
      float: right;
      width: 100px;
      text-align: right;
      font-family: "Courier New", Courier, monospace;
      color: black;
    }
  }
}
