.settings {
  margin: 0.5rem;
  padding: 0 1rem 0.5rem;
  border: 4px dotted white;

  legend {
    padding: 8px;
  }

  .setting {
    height: 2em;
    width: 50%;
    display: inline-block;
    padding-right: 1em;

    label {
      display: inline;
    }

    input {
      float: right;
      width: 100px;
      text-align: right;
      font-family: "Courier New", Courier, monospace;
      color: black;
    }
  }
}
